.pr {
  position: relative;
}
.ms-dd {
  width: 260px;
  font-family: Sans-Serif;
  background: #eee;
}
.ms-dd .ms-dd-header {
  width: 100%;
  border-radius: 2px;
  border: solid 1px #ccc;
  border-bottom: none;
  position: relative;
  cursor: pointer;
}
.ms-child {
  border: solid 1px #ccc;
  border-top: none;
  list-style: none;
  box-shadow: 0px 1px 5px #ddd;
  /*display: none;*/
  position: absolute;
  z-index: 9999;
  overflow: auto;
  width: 100%;
}

.ms-search {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  background-color: #f6f6f6;
}
.ms-search input, .ms-search input:focus {
  width: 90%;
  border:0;
  padding: 5px;
}


.ms-dd .ms-dd-header .option-selected {
  overflow: hidden;
  display: block;
  padding: 10px 20px 10px 10px;
  font-weight: 600;
  color: #000;
}
.ms-dd .ms-dd-option-image,
.ms-dd .ms-dd-selected-img {
  vertical-align: middle;
  float: left;
  margin-right: 5px;
  max-width: 64px;
}
.ms-dd .ms-dd-selected-desc {
  color: #aaa;
  display: block;
  overflow: hidden;
  font-weight: normal;
  line-height: 1.5em;
  text-shadow: 0px 1px 0.5px #fff;
}
.ms-dd .ms-dd-arrow {
  width: 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
}
.ms-dd .ms-dd-arrow.ms-dd-pointer-down {
  border: solid 5px transparent;
  border-top: solid 5px #000;
}
.ms-dd .ms-dd-arrow.ms-dd-pointer-up {
  border: solid 5px transparent;
  border-bottom: solid 5px #000;
  margin-top: -8px;
}
.ms-dd .ms-options {
  margin: 0;
  padding: 0;
  background: #fff;
}
.ms-dd .ms-list-option {
  padding: 10px;
  display: block;
  border-bottom: solid 1px #ddd;
  overflow: hidden;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
}
.ms-dd .ms-list-option:last-child {
  border-bottom: none;
}
.ms-dd .ms-list-option:hover {
  background: #f3f3f3;
  color: #000;
}
.ms-dd .ms-list-option.option-selected {
  background: #f6f6f6;
}
.ms-dd .ms-list-option.with-desc img {
  min-height: 32px;
}