<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Samples</title>
<link rel="stylesheet" href="examples/css/sample.css" />
<script src="js/jquery/jquery-1.9.0.min.js"></script>
<!-- <msdropdown> -->
<!-- <link rel="stylesheet" type="text/css" href="css/msdropdown/dd.css" /> -->
<link rel="stylesheet" type="text/css" href="dd-v2.css" />
<script src="js/msdropdown/jquery.dd.js"></script>
<!-- </msdropdown> -->

<link rel="stylesheet" type="text/css" href="css/msdropdown/skin2.css" />
<link rel="stylesheet" type="text/css" href="css/msdropdown/flags.css" />
</head>
<body style="background: #fff; padding: 50px;">

  <div class="new-ui" >
    <!-- start ms dropdown -->
    <div class="ms-dd pr">
        <div class="ms-dd-header">
            <a class="ms-list-option option-selected with-desc">
                <img
                    class="ms-dd-selected-img"
                    src="https://i.imgur.com/XkuTj3B.png"
                />
                <span class="ms-dd-label ms-dd-selected-txt">Facebook</span>
                <small class="ms-dd-selected-desc"
                    >Description with Facebook</small
                >
            </a>
            <span class="ms-dd-arrow ms-dd-pointer-down"></span>
        </div>
        <div class="ms-child">
            <div class="ms-search">
                <input name="_ms-search_" type="text" />
            </div>
            <ul class="ms-options">
                <li class="ms-list-option" value="calendar">
                    <img
                            src="images/msdropdown/icons/icon_games.gif"
                            class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Calendar</span>
                </li>
                <!-- option with description -->
                <li class="ms-list-option with-desc" value="shopping_cart">
                    <img
                            src="https://i.imgur.com/XkuTj3B.png"
                            class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Shopping Cart</span>
                    <small class="ms-dd-selected-desc">Description with Facebook</small
                </li>
                <li class="ms-list-option" name="cd" value="cd">
                    <img src="images/msdropdown/icons/icon_cd.gif"
                         class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">CD</span>
                </li>
                <li class="ms-list-option" value="email">
                    <img src="images/msdropdown/icons/icon_email.gif"
                         class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Email</span>
                </li>
                <!-- option without icon -->
                <li class="ms-list-option" value="faq">
                    <span class="ms-dd-label">FAQ</span>
                </li>
                <li class="ms-list-option" value="games">
                    <img
                            src="images/msdropdown/icons/icon_games.gif"
                            class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Games</span>
                </li>
                <li class="ms-list-option" value="music">
                    <img
                            src="images/msdropdown/icons/icon_music.gif"
                            class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Music</span>
                </li>
                <li class="ms-list-option" value="phone">
                    <img
                            src="images/msdropdown/icons/icon_phone.gif"
                            class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Phone</span>
                </li>
                <li class="ms-list-option" value="graph">
                    <img
                            src="images/msdropdown/icons/icon_sales.gif"
                            class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Graph</span>
                </li>
                <li class="ms-list-option" value="secured">
                    <img
                            src="images/msdropdown/icons/icon_secure.gif"
                            class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Secured</span>
                </li>
                <li class="ms-list-option option-selected" value="video">
                    <img
                            src="images/msdropdown/icons/icon_video.gif"
                            class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">Video</span>
                </li>
                <li class="ms-list-option" name="cd" value="cd">
                    <img src="images/msdropdown/icons/icon_games.gif"
                         class="ms-dd-option-image"
                    />
                    <span class="ms-dd-label">CD</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- eof ms dropdown -->
  </div>

<script>
function createByJson() {
	var jsonData = [					
					{description:'Choos your payment gateway', value:'', text:'Payment Gateway'},					
					{image:'images/msdropdown/icons/Amex-56.png', description:'My life. My card...', value:'amex', text:'Amex'},
					{image:'images/msdropdown/icons/Discover-56.png', description:'It pays to Discover...', value:'Discover', text:'Discover'},
					{image:'images/msdropdown/icons/Mastercard-56.png', title:'For everything else...', description:'For everything else...', value:'Mastercard', text:'Mastercard'},
					{image:'images/msdropdown/icons/Cash-56.png', description:'Sorry not available...', value:'cash', text:'Cash on devlivery', disabled:true},
					{image:'images/msdropdown/icons/Visa-56.png', description:'All you need...', value:'Visa', text:'Visa'},
					{image:'images/msdropdown/icons/Paypal-56.png', description:'Pay and get paid...', value:'Paypal', text:'Paypal'}
					];
	$("#byjson").msDropDown({byJson:{data:jsonData, name:'payments2'}}).data("dd");
}
$(document).ready(function(e) {		
	//no use
	try {
		var pages = $("#pages").msDropdown({on:{change:function(data, ui) {
												var val = data.value;
												if(val!="")
													window.location = val;
											}}}).data("dd");

		var pagename = document.location.pathname.toString();
		pagename = pagename.split("/");
		pages.setIndexByValue(pagename[pagename.length-1]);
		$("#ver").html(msBeautify.version.msDropdown);
	} catch(e) {
		//console.log(e);	
	}
	
	$("#ver").html(msBeautify.version.msDropdown);
		
	//convert
	$("select").msDropdown({roundedBorder:false});
	createByJson();
	$("#tech").data("dd");
});
function showValue(h) {
	console.log(h.name, h.value);
}
$("#tech").change(function() {
	console.log("by jquery: ", this.value);
})
//
</script>

</body>
</html>
